In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import cleaning_idot

In [2]:
temp = pd.read_csv("data/IDOT_2021.csv")

In [3]:
temp_cleaned = cleaning_idot.cleaning(temp)

c:\Users\liu00\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
c:\Users\liu00\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [4]:
temp_cleaned.head(5)

,DATESTOP,TIMESTOP,DURATION,VEHMAKE,VEHYEAR,YRBIRTH,DRSEX,DRRACE,YEARSTOP,DRAGE
0,2021-01-01,00:33:00,5,CHEVROLET,2017.0,1993,1,4.0,2021,28
1,2021-01-01,01:50:00,4,FORD,2012.0,1957,1,2.0,2021,64
2,2021-01-01,08:50:00,4,FORD,2007.0,1967,1,2.0,2021,54
3,2021-01-01,12:41:00,6,BMW,1998.0,1990,1,2.0,2021,31
4,2021-01-01,13:51:00,5,TOYOTA,2002.0,1945,2,2.0,2021,76

In [51]:
temp_cleaned.dtypes

DATESTOP     object
TIMESTOP     object
DURATION      int64
VEHMAKE      object
VEHYEAR     float64
YRBIRTH       int64
DRSEX        object
DRRACE       object
YEARSTOP      int64
DRAGE         int64
dtype: object

In [65]:
temp_cleaned.shape

(377899, 10)

In [5]:
import probability as pr
import pandas as pd

#tp = pd.DataFrame({"DRRACE": ["1", "2", "3", "4", "1"], "DRAGE": [18, 21, 35, 56, 30]})
pr.prob_age_race_adj(temp_cleaned, "1.0", (18, 30))

c:\Users\liu00\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
c:\Users\liu00\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

0.272

In [6]:
dic = pr.prob_table(temp_cleaned)

In [10]:
dic

{'race': [0.004, 0.063, 0.177, 0.19, 0.26, 0.148, 0.158, 1]}

In [27]:
all_race = ["1.0", "2.0", "3.0", "4.0", "5.0", "6.0", "All"]
all_age = ["0-16", "16-21", "21-26", "26-31", "31-41", "41-51", "51-101", "All"]
age_lst = []
for age_group in all_age:
    if age_group != "All":
        age_l, age_h = age_group.split("-")
        age_l = int(age_l)
        age_h = int(age_h)
        age_lst.append((age_l, age_h))
age_lst.append("All")

In [28]:
age_lst

[(0, 16), (16, 21), (21, 26), (26, 31), (31, 41), (41, 51), (51, 101), 'All']

In [ ]:
prob_dict = {}
for race in all_race:
    race_age_lst = []
    for age in age_lst:
        p_agj = pr.prob_age_race_adj(temp_cleaned, race = race, age_group = age)
        race_age_lst.append(p_agj)
    prob_dict[race] = race_age_lst

In [18]:
p_dic = {'Race': ['1.0', '2.0', '3.0', '4.0', '5.0', '6.0', 'All Races'], 'Younger than 16': [0.0032, 0.0039, 0.0052, 0.0027, 0.0028, 0.0062, 0.0035], '16-20': [0.037, 0.0588, 0.0455, 0.0907, 0.0383, 0.0432, 0.0628], '21-25': [0.1134, 0.1821, 0.1442, 0.2029, 0.1291, 0.1276, 0.1771], '26-30': [0.1589, 0.2043, 0.1787, 0.1693, 0.1505, 0.1975, 0.1898], '31-40': [0.2615, 0.2655, 0.2625, 0.2451, 0.2617, 0.2623, 0.2604], '40-50': [0.1728, 0.1383, 0.1871, 0.1597, 0.1819, 0.1698, 0.1484], 'Older than 50': [0.2532, 0.1471, 0.1767, 0.1296, 0.2358, 0.1934, 0.158], 'All Ages': [0.1154, 0.6298, 0.0041, 0.2221, 0.026, 0.0026, 1]}

In [19]:
pd.DataFrame(p_dic)

,Race,Younger than 16,16-20,21-25,26-30,31-40,40-50,Older than 50,All Ages
0,1.0,0.0032,0.0370,0.1134,0.1589,0.2615,0.1728,0.2532,0.1154
1,2.0,0.0039,0.0588,0.1821,0.2043,0.2655,0.1383,0.1471,0.6298
2,3.0,0.0052,0.0455,0.1442,0.1787,0.2625,0.1871,0.1767,0.0041
3,4.0,0.0027,0.0907,0.2029,0.1693,0.2451,0.1597,0.1296,0.2221
4,5.0,0.0028,0.0383,0.1291,0.1505,0.2617,0.1819,0.2358,0.0260
5,6.0,0.0062,0.0432,0.1276,0.1975,0.2623,0.1698,0.1934,0.0026
6,All Races,0.0035,0.0628,0.1771,0.1898,0.2604,0.1484,0.1580,1.0000